.small {
    max-width: 600px;
    margin:  150px auto;
  }
  .chart-js-dashboard-title{
    color: #7c858e;
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    padding: 1rem 1.5rem 2px;
  }
  .stay-right {
    text-align: right;
    width: 100%;
    font-size: 12px;
    min-height: 35px;
    padding: 10px 20px 5px 20px;
    margin-bottom: -40px;
  }
  .btn-refresh {
    color: #777;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--40);
  }
  .btn-refresh:hover {
    color: #111;
  }
  .btn-external {
    color: #777;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--40);
  }
  .btn-external:hover {
    color: #111;
  }
  .fa-sync:hover {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }